<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coza store</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/Chrome-Incognito-Mode-Icon-256.png" />
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Other CSS -->
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="userAssets/vendor/bootstrap/css/bootstrap.min.css">
    <!--=============================================userAssets/==================================================-->
    <link rel="stylesheet" type="text/css" href="userAssets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--=============================================userAssets/==================================================-->
    <link rel="stylesheet" type="text/css" href="userAssets/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--=============================================userAssets/==================================================-->
    <link rel="stylesheet" type="text/css" href="userAssets/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--=============================================userAssets/==================================================-->
    <link rel="stylesheet" type="text/css" href="userAssets/userAssets/vendor/animate/animate.css">
    <!--=============================================userAssets/==================================================-->
    <link rel="stylesheet" type="text/css" href="userAssets/vendor/css-hamburgers/hamburgers.min.css">
    <!--=============================================userAssets/==================================================-->
    <link rel="stylesheet" type="text/css" href="userAssets/vendor/animsition/css/animsition.min.css">
    <!--=============================================userAssets/==================================================-->
    <link rel="stylesheet" type="text/css" href="userAssets/vendor/select2/select2.min.css">
    <!--=============================================userAssets/==================================================-->
    <link rel="stylesheet" type="text/css" href="userAssets/vendor/daterangepicker/daterangepicker.css">
    <!--=============================================userAssets/==================================================-->
    <link rel="stylesheet" type="text/css" href="userAssets/vendor/slick/slick.css">
    <!--=============================================userAssets/==================================================-->
    <link rel="stylesheet" type="text/css" href="userAssets/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="userAssets/css/util.css">
    <link rel="stylesheet" type="text/css" href="userAssets/css/main.css">
    <!--===============================================================================================-->
    <!--  custom CSS -->
    <link rel="stylesheet" type="text/css" href="userAssets/css/util.css">
    <link rel="stylesheet" href="userAssets/css/style.css">
    <link rel="stylesheet" href="userAssets/css/stylesheet.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="userAssets/vendor/bootstrap/css/bootstrap.min.css"> -->

    <!-- Your custom scripts -->
</head>

<body class="animsition">
    <!-- Header -->
    <header class="header-v3">
        <div class="container-menu-desktop trans-03">
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container">
                    <div class="left-top-bar">
                        Free shipping for standard orders over $100
                    </div>

                    <div class="right-top-bar flex-w h-full">
                        <a href="/contactUS" class="flex-c-m trans-04 p-lr-25">
                            Help & FAQs
                        </a>
                        <span class="icon-heart1"></span>
                        <%if(userName){%>
                            <a href="/profile" class="flex-c-m trans-04 p-lr-25">
                                <%=userName%>
                            </a>
                            <%}else{%>
                                <a href="/login" class="flex-c-m trans-04 p-lr-25">Account</a>
                                <%}%>
                                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                                        EN
                                    </a>

                                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                                        INR
                                    </a>
                    </div>
                </div>
            </div>

            <div class="wrap-menu-desktop" style="top: 40px;">
                <nav class="limiter-menu-desktop container">
                    <!-- Logo desktop -->
                    <a href="/" class="logo p-t-20">
                        <img src="images/icons/logo-01.png" alt="IMG-LOGO">
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li>
                                <a href="/">Home</a>
                            </li>

                            <li>
                                <a href="/shop">Shop</a>
                            </li>

                            <li>
                                <a href="/aboutUs">About</a>
                            </li>

                            <li>
                                <a href="/contactUS">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div>

                        <a href="/cart">
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-cart">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                        </a>

                        <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>
                        <%if(userName){%>
                            <a href="/profile">
                                <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-user">
                                    <i class="zmdi zmdi-account-circle"></i>
                                </div>
                            </a>
                            <%}else{%>
                                <a href="/login">
                                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-user">
                                        <i class="zmdi zmdi-account-circle"></i>
                                    </div>
                                </a>
                                <%}%>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo mobile -->
            <div class="logo-mobile">
                <a href="/"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
            </div>
            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                <%if(userName){%>
                    <a href="/cart">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10  js-show-cart">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                    </a>
                    <%}else{%>
                        <a href="/login">
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10  js-show-cart">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                        </a>
                        <%}%>
                            <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 ">
                                <i class="zmdi zmdi-favorite-outline"></i>
                            </a>
                            <%if(userName){%>
                                <a href="/profile">
                                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-user">
                                        <i class="zmdi zmdi-account-circle"></i>
                                    </div>
                                </a>
                                <%}else{%>
                                    <a href="/login">
                                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-user">
                                            <i class="zmdi zmdi-account-circle"></i>
                                        </div>
                                    </a>
                                    <%}%>
            </div>
            <!-- Button to show menu on mobile -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="menu-mobile">
            <ul class="main-menu-m">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/shop">Shop</a>
                </li>
                <li>
                    <a href="/aboutUs">About</a>
                </li>

                <li>
                    <a href="/contactUs">Contact</a>
                </li>
            </ul>
        </div>
        <!-- Modal Search -->
        <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
            <div class="container-search-header">
                <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                    <img src="images/icons/icon-close2.png" alt="CLOSE">
                </button>

                <form class="wrap-search-header flex-w p-l-15" action="/filter" method="get">
                    <button class="flex-c-m trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                    <input class="plh3" type="text" name="search" placeholder="Search...">
                    <input type="radio" name="sort" value="0" checked hidden>
                    <input type="radio" name="price" value="0-10000000000" checked hidden>
                    <input type="radio" name="category" value="all" checked hidden>
                </form>
            </div>
        </div>
    </header>
    <!-- <div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="images/item-cart-01.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="images/item-cart-02.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="images/item-cart-03.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->