<!--change password.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Password Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include your styles and scripts here -->
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="fonts1/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="userAssets/css1/style.css">
</head>

<body>

    <div class="wrapper" style="background-image: url('images1/pexels-shvets-production-bg.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="images1/pexels-shvets.jpg" alt="">
            </div>
            <form action="" method="post" autocomplete="off" id="resetForm" onsubmit="resetPassword(event)">
                <h3 class="register-head">Reset Password</h3>
                <div class="form-wrapper">
                    <input type="password" id="newPassword" name="newPassword" placeholder="Enter New Password"
                        class="form-control">
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <p id="passwordError">Password must be longer than 6 characters and contain a number</p>
                <div class="form-wrapper">
                    <input type="password" id="confirmPassword" name="confirmPassword"
                        placeholder="Confirm New Password" class="form-control">
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <p id="confirmPasswordError">password & confirmPassword must be same</p>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="badge rounded-pill alert-dark" style="height: 40px;">
                        Reset Password
                        <i class="zmdi zmdi-arrow-right arrowButton"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Include your external dependencies -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="userAssets/js/changePasswordValidation.js"></script>
    <!-- Add any additional scripts or stylesheets you need -->

</body>

</html>
