<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification Form</title>
    <link rel="stylesheet" href="userAssets/css/otpPage.css" />
    <link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.min.css
" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h4>
            <%= message %>
        </h4>
        <p>A code has been sent to <span id="email" mail-data="<%= user %>">
                <%= user %>
            </span></p>
        <form id="otpForm">
            <div class="input-field">
                <input name="noOne" type="number" />
                <input name="noTwo" type="number" disabled />
                <input name="noThree" type="number" disabled />
                <input name="noFour" type="number" disabled />
            </div>
            <button type="submit">Verify OTP</button>
        </form>
        <button type="submit" id="resendButton">Resend OTP</button>
        <div id="countDown"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js
    "></script>
    <script src="userAssets/js/otpPage.js"></script>
    <script>

    </script>
</body>

</html>